body{
	padding-top: 3% !important;
}
.data-left{
	 /* padding-top: 2%;  */
	 padding-left: 2%; 
	 padding-right: 2%;
	 margin: 1%;
}

.container .table-data{
	border: 1px solid #808080;
    margin-top: 1%; 
    border-collapse: collapse;
}
.data li{
	font-size: 15px;
	/* padding: 5px; */
	list-style-type: none;
}
h2{
	text-align: center;
	font-size: 23px;
	margin-top: 1% !important;
	margin-bottom: 1% !important; 
}
#buttons{
	clear:both;
}
#buttons :first-child {
    float: right;
    margin-right: 13px;
    padding-top: 3%;
}

#buttons :nth-child(2) {
    margin-right: 13px;
    float: right;
    padding-top: 3%;
}


.left-align{
	text-align: left;
}
.center-align{
	text-align: center;
	}
}
