
html, body
{
    height: 100%;
}
 .mn-50{
 min-height:260px;
 height:260px;
 /* overflow-x: auto; */
 
 }
  .mn-40{
   min-height:40px;
  }
  
/*   .ap-container iframe, iframe{
  height:600px !important;}
   */
  
  

.ml-auto  {
    left: auto !important;
    right: 0px;
}
.modal-title{
	margin: 0 auto;
	display: block!important;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem -1rem !important; }

h2{ font-weight:500 !important;
	font-size:25px !important;
}
h4{ font-weight:430 !important;} 
	
.nav-tabs .nav-item .nav-link {
    text-transform: capitalize !important;
} 
#selector {
position: absolute;
   top: 35%;
   left: 45%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* .table-bordered, .table-bordered th, .table-bordered td{
	border: 1px solid black !important;
	font-size: 15px !important;
} */
  th,td{
 	text-align: center;
 	padding: 3px !important;
 } 
 .data-left th, .data-left td{
 	text-align: left;
 	padding: 1% !important;
 	margin-left: 1% !important;
 }
 .data-left{
 	padding: 2%;
 }
 #tableOne{
 	margin-bottom: 1% !important;
 }
 #tableOne th,td{
 	text-align: center;
 	padding: 0px !important;
 }

.tableh{
	top:30px;
}

.tablec{
	top:30px;
}

/* .tableh{
	    padding-top: 3.5% !important;
	min-height: 49.5%;
}

.tablet{
	    padding-top: 3.5% !important;
	min-height: 45.5%;
} */

.maximize, .maximize1, .maximize3, .maximize4{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1052;
}

body {
	font-size: 15px !important;
}
.l4{
	left:4% !important;
}
/* .table{
	margin-bottom: 0 !important;
} */
.width1{
	width: 10% !important;
}
/* .table .table{
	background-color: #ffffff;
} */
body{
	font-weight: normal;
}
.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #e53935,#ef5350 ) !important;
}
#cidi th{
	padding: 5px !important;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
	background-color: #0661aa !important
	}
	
.fixTable tr th{
min-height:94px;
}

.fixTbl tr th{
	min-height:116px;
}
.hCenter{
	text-align: center !important;
}


.responsiveGraphs{
	width:100%;
	position: fixed;
    height: 30%;
}
.responsiveGraphs1{
	width:inherit;
    height:200px;
}
  
.cidi th, #deliveryRisk th{
	text-align: left !important;
}
#riskDataTable td{
	vertical-align: top !important;
    text-align: left !important;
} 
.responsiveCard{
	overflow-y: auto;
}
#riskDataTable th{
	padding: 5px !important;
	text-align: center !important;
}
.headerCenter th{
	text-align: center !important;
}
#status-bar-link:hover{
	background-color: rgba(0, 0, 0, 0.3) !important;
	color: rgba(255, 255, 255, 0.5);
}
#status-bar-link:focus{
	background-color: transparent !important;
}
 
 

 .justifiedTable td{
	text-align: justify !important;
	vertical-align: top !important;
	padding: 0.5% !important;
	
}

.cidiJustifiedTable td{
	text-align: justify !important;
	vertical-align: top !important;
	padding: 5px !important;
	
}