body{
	padding-top: 3% !important;
}

h4{
	margin-top: 1% !important;
}
/*  table {
    border-collapse: collapse;
    width: 95%; 
    padding-top: 1%;
	margin: 4px;
	border: 1px solid #b3b3b3;
	text-align: justify;
	padding: 9px;
    border-bottom: 1px solid #d7d7d7;     
}  */
/* th, td{
 		border: 1px solid grey;
 	}
td {
	text-align: center;
	padding: 7px;
} */
#content-left{
	padding-left: 7%;
	
}
/* table th{
	padding: 7px;
	border: 1px solid #808080;
	background-color: 	#cfcfcf; 
	 text-align: center;
	 color: white;
} */
header{
	background-color: 	#064ba6; 
	color: white;
	height:11%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	text-align: center;
	
	 
	
}
.button1{
	margin-bottom: 8%;
	
}
footer{
	margin-bottom:2%;
	margin-left: 27%;
	font-size: 13px;
	padding-top:13%;
}
 #head{	
	height: 40px;
} 

.data-left{
	 /* padding-top: 2%; */
	 padding-left: 4%; 
	 margin: 1%;
}


#buttons :first-child {
    float: right;
    margin-right: 13px;
    padding-bottom: 3%;
}

#buttons :nth-child(2) {
    margin-right: 13px;
    float: right;
    padding-bottom: 3%;
    
}
.mandatory{
	color: red;
	font-size:22px;
}
.level{
	width: 9%;
}
.levels{
	width: 13%;
}
.level1{
	vertical-align: top;
}
.data-right{
	 padding-left: 5%; 
}