.error{
	display: block;
	color: red;
	padding-top: 10px;
}

.loading-dots {
  display: block;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  width: 6%;
  height: 6%;
  } 

.imageStyle{
	veritcal-align: middle;	
}