div.container{
 	font-family: Arial;
	font-size: 16px;
	margin-bottom: 2%; 
	margin-left: 3% ;
	margin-right: 3%;
	background-color:#f5f5f5;
	height: auto;
	overflow: auto;
}
.button-align{
	padding: 0% 0% 3% 85% !important;
}
h4 {
	text-align: center;
}
 div.ui-datepicker{
 font-size:13px;
} 
#left{
	padding-left: 85%;
	
}


#loading {
	 position: absolute; 
   left: 40%;
  top: 20%;
 border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 3s linear infinite;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.data li{

	font-size: 15px;
	padding: 5px;
	list-style-type: none;
	
	
}

.customizedTable{
	margin: 2% !important;
} 

#creativeTable th,td{
	padding: 2% !important;
}

#creativeTable{
	margin: 2% 0% 2% 0% !important;
}
