<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="./css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="./css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85150</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">426bc29d-ea64-45cb-8d34-1cbbf9bbab86</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85150, 7V7HDZ5JRX2H-659952857-85150</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body>
<div class="container" align="left">
<header>
<h4 align="center">About The Project</h4>
</header>
<div align="left">
 	 		<span><b>Project Title: </b><span th:text="${project_title}"> </span></span><br/>
 			<span><b>Client Name: </b><span th:text="${atpInfo.get('Client Name')}"> </span></span><br/>
 			<span><b>Scope: </b><span th:text="${atpInfo.get('Scope')}"> </span></span><br/>
 			<span><b>Team Size: </b><span th:text="${atpInfo.get('Team Size')}"> </span></span><br/>
 			<span><b>Project Duration: Start Date: </b><span th:text="${atpInfo.get('Project Start Date')}"> </span></span><br/>
 			<span><b>Current Status: </b><span th:text="${atpInfo.get('Current Status')}"> </span></span><br/>
 </div>
 </div>
</body>

</html> 