<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>    
<link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>
<link rel="stylesheet" href="./css/validation.css"></link>
<meta charset="utf-8"></meta>
<meta name="token" th:content="${atlassianConnectToken}" />
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>  
<script src="./js/errorHandling.js"></script>
    
<head>
</head><body>

	<div class="container">
	<header>
<h2>Client Appreciations</h2>
</header>
	<div class= "data-left">
		<h3>please select the project</h3>
		<form id="choiceform" th:action="@{/appreciationReport(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
			<label for="projectname">Project name<span class="mandatory">*</span></label> <select
				th:field="*{projectname}">
				<option value="">Please select</option>
				<option th:each="projectname : ${projectlist}"
					th:value="${projectname}" th:text="${projectname}"></option>
			</select> 
            <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			<button  id="submitid" type="submit" onclick="return validationForTheProjectList()">Submit</button>
				<span class="error" id="error"></span>
		</form>
		
	</div>
	
	</div>
</body>
</html>