<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
<link href="./css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

   <style>
h5{
	text-align: center;
	margin:0% 0% 0% 3% !important;
}
h3{
	text-align: center !important;
	margin: 1% 0% 0% 1% !important;
}
td,th{
	border: 1px solid black;
}
</style>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85156</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">631bfbcb-bb02-4dc9-a84f-9d00a706fbe8</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85156, 7V7HDZ5JRX2H-659952857-85156</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
<div class="container">
<h5>Count:<span th:text="${#lists.size(data)}"></span></h5>
<div class="table-responsive">
	<table class="table-bordered " align="center">
	<thead>
	  <tr>
	    <th>Date Received</th>
	    <th>Received From</th>
	    <th>Complaint Details</th>
	    <th>Response Action Plan</th>
	    <th>Resolution Status</th>
	  </tr>
 </thead>
  <tbody>
    <tr th:each="d :${data}">
        <td  th:text="${d.getrDate()}"></td>
        <td  th:text="${d.getrFrom()}"></td>
        <td  th:text="${d.getDescription()}"></td>
        <td  th:text="${d.getAction()}"></td>
		<td  th:text="${d.getStatus()}"></td>
    </tr>  
  </tbody>
</table>
</div>
</div>
   </body>