<h4 align="center">Creative Ideas/Delivery Improvements [CIDI]</h4> 
	 <p style="margin-bottom: 3px;">[CIDI Implemented on Time Target >= <h4 th:text="${cidiTarget}" th:remove="tag"></h4>%]</p>
		<div class="table-responsive">
			<table class="table table-bordered cidi" align="center" border="1" id="cidi">
				<tbody>
					<tr>
						<th id="month" rowspan = "2">Month</th>
						<span th:each="instance : ${CIDI_Data}">
							<td colspan="2" th:text="${instance.key}"></td>
						</span>
					</tr>
					<tr>
					<span th:each="instance : ${CIDI_Data}">
					<th>Count</th>
					<th>Implemented On Time(%)</th>
					</span>
					</tr>
					<tr>
						<th>Client Complaints</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcCData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcCData())}"
										data-toggle='modal'
										th:attr="data-target='#cc'+${instance.key}"></a>
										<div class="modal fade" th:id="'cc'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Client Complaints (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table class="table table-border headerCenter">
															<tbody class="cidiJustifiedTable">	
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																		
																	</tr>
															
																
																	<tr th:each="d :${cc.getcCData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getcCData())}!= 0">
									<td th:text="${#lists.size(cc.getcCData())}"></td>
								</div>
								<td th:text="${instance.value.getCcPercent()}"></td>
							</div>
						</span>
					</tr>


					<tr>
						<th>Client Satisfaction Feedback Aspect</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcSFAData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcSFAData())}"
										data-toggle='modal'
										th:attr="data-target='#csfa'+${instance.key}"></a>
										<div class="modal fade" th:id="'csfa'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Client Satisfaction Feedback Aspect (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getcSFAData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getcSFAData())}!= 0">
									<td th:text="${#lists.size(cc.getcSFAData())}"></td>
								</div>
								<td th:text="${instance.value.getCsfaPercent()}"></td>
							</div>
						</span>
					</tr>


					<tr>
						<th>Project Delivery Performance Issue</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getpDPIData())}!= 0">
									<td>
									<a href="#"	th:text="${#lists.size(cc.getpDPIData())}" data-toggle='modal'
										th:attr="data-target='#pdpi'+${instance.key}"></a>
										<div class="modal fade" th:id="'pdpi'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Project Delivery Performance Issue (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">

															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getpDPIData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>

								</div>

								<div th:unless="${#lists.size(cc.getpDPIData())}!= 0">
									<td th:text="${#lists.size(cc.getpDPIData())}"></td>
								</div>
								<td th:text="${instance.value.getPdpiPercent()}"></td>
							</div>
						</span>
					</tr>



					<tr>
						<th>Process Compliance Issue</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getpCIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getpCIData())}"
										data-toggle='modal'
										th:attr="data-target='#pci'+${instance.key}"></a>
										<div class="modal fade" th:id="'pci'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Process Compliance Issue (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-reponsive">
															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getpCIData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getpCIData())}!= 0">
									<td th:text="${#lists.size(cc.getpCIData())}"></td>
								</div>
								<td th:text="${instance.value.getPciPercent()}"></td>
							</div>
						</span>
					</tr>



					<tr>
						<th>Information Security Weakness</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getiSWData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getiSWData())}"
										data-toggle='modal'
										th:attr="data-target='#isw'+${instance.key}"></a>
										<div class="modal fade" th:id="'isw'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title"> Information Security Weakness (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getiSWData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getiSWData())}!= 0">
									<td th:text="${#lists.size(cc.getiSWData())}"></td>
								</div>
								<td th:text="${instance.value.getIswPercent()}"></td>
							</div>
						</span>
					</tr>



					<tr>
						<th>Information Security Event</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getiSEData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getiSEData())}"
										data-toggle='modal'
										th:attr="data-target='#ise'+${instance.key}"></a>
										<div class="modal fade" th:id="'ise'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Information Security Event (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																	<tr th:each="d :${cc.getiSEData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getiSEData())}!= 0">
									<td th:text="${#lists.size(cc.getiSEData())}"></td>
								</div>
								<td th:text="${instance.value.getIsePercent()}"></td>
							</div>
						</span>
					</tr>



					<tr>
						<th>Risk Event</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getrEData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getrEData())}"
										data-toggle='modal'
										th:attr="data-target='#re'+${instance.key}"></a>
										<div class="modal fade" th:id="'re'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Risk Event (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getrEData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getrEData())}!= 0">
									<td th:text="${#lists.size(cc.getrEData())}"></td>
								</div>
								<td th:text="${instance.value.getRePercent()}"></td>
							</div>
						</span>
					</tr>




					<tr>
						<th>Delivery Improvement</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getdIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getdIData())}"
										data-toggle='modal'
										th:attr="data-target='#di'+${instance.key}"></a>
										<div class="modal fade" th:id="'di'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Delivery Improvement (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getdIData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getdIData())}!= 0">
									<td th:text="${#lists.size(cc.getdIData())}"></td>
								</div>
								<td th:text="${instance.value.getDiPercent()}"></td>
							</div>
						</span>
					</tr>



					<tr>
						<th>Creative Idea</th>
						<span th:each="instance : ${CIDI_Data}">
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcIData())}"
										data-toggle='modal'
										th:attr="data-target='#ci'+${instance.key}"></a>
										<div class="modal fade" th:id="'ci'+${instance.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" th:text="${instance.key}">Creative Idea (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
														<div class="table-responsive">

															<table class="table table-bordered headerCenter">
																<tbody class="cidiJustifiedTable">
																	<tr>
																		<th rowspan="2">Date</th>
																		<th rowspan="2">Description</th>
																		<th rowspan="2">Priority</th>
																		<th colspan="6" class="hCenter">Creative Idea/ Delivery Improvement Actions</th>
																		<th rowspan="2">Status</th>
																		<th rowspan="2">Remarks</th>
																	</tr>
																	<tr>
																		<th>Cause</th>
																		<th>Action Type</th>
																		<th>Action</th>
																		<th>Responsibility</th>
																		<th>Target Date</th>
																		<th>Actual Date</th>
																	</tr>
																
																
																	<tr th:each="d :${cc.getcIData()}">
																		<td th:text="${d.getReported_Date()}"></td>
																		<td   th:text="${d.getIssue_Description()}"></td>
																		<td th:text="${d.getPriority()}"></td>
																		<td   th:text="${d.getRoot_Cause()}"></td>
																		<td th:text="${d.getAction_Type()}"></td>
																		<td   th:text="${d.getAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getTarget_Date()}"></td>
																		<td th:text="${d.getActual_Date()}"></td>
																		<td   th:text="${d.getStatus()}"></td>
																		<td   th:text="${d.getRemarks()}"></td>
																	</tr>
																</tbody>
															</table>

														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div></td>
								</div>

								<div th:unless="${#lists.size(cc.getcIData())}!= 0">
									<td th:text="${#lists.size(cc.getcIData())}"></td>
								</div>
								<td th:text="${instance.value.getCiPercent()}"></td>
							</div>
						</span>
					</tr>
				</tbody>
			</table>
		</div>