<span id="cidiData" th:text="${cidiobj}" style="display:none;"></span>
<h4 align="left">Creative Ideas and Delivery Improvements Implemented on Time Target >= <h4 th:text="${cidiTarget}" th:remove="tag"></h4>%</h4>
<table class="aui">
				<tbody>
					<tr>
						<th>Month</th>
						<th>Client Complaints</th>
						<th>Client Satisfaction Feedback Aspect</th>
						<th>Project Delivery Performance Issue</th>
						<th>Process Compliance Issue</th>
						<th>Information Security Weakness</th>
						<th>Information Security Event</th>
						<th>Risk Event</th>
						<th>Delivery Improvement</th>
						<th>Creative Idea</th>  				
					</tr>

					<tr th:each="instance : ${CIDI_Data}">
						<td th:text="${instance.key}"></td>
							<div th:each="cc : ${instance.value}">
								<div th:if="${#lists.size(cc.getcCData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcCData())}"
										th:attr="onclick=|showModal('Client Complaints','${instance.key}', 1)|"></a>
										</td>
								</div>

								<div th:unless="${#lists.size(cc.getcCData())}!= 0">
									<td th:text="${#lists.size(cc.getcCData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getcSFAData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcSFAData())}"
										th:attr="onclick=|showModal('Client Satisfaction Feedback Aspects','${instance.key}', 2)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getcSFAData())}!= 0">
									<td th:text="${#lists.size(cc.getcSFAData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getpDPIData())}!= 0">
									<td>
									<a href="#"	th:text="${#lists.size(cc.getpDPIData())}" th:attr="onclick=|showModal('Project Delivery Performance Issues','${instance.key}', 3)|"></a></td>

								</div>

								<div th:unless="${#lists.size(cc.getpDPIData())}!= 0">
									<td th:text="${#lists.size(cc.getpDPIData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getpCIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getpCIData())}"
										th:attr="onclick=|showModal('Process Compliance Issues','${instance.key}', 4)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getpCIData())}!= 0">
									<td th:text="${#lists.size(cc.getpCIData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getiSWData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getiSWData())}"
										th:attr="onclick=|showModal('Information Security Weaknesses','${instance.key}', 5)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getiSWData())}!= 0">
									<td th:text="${#lists.size(cc.getiSWData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getiSEData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getiSEData())}"
										th:attr="onclick=|showModal('Information Security Events','${instance.key}', 6)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getiSEData())}!= 0">
									<td th:text="${#lists.size(cc.getiSEData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getrEData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getrEData())}" th:attr="onclick=|showModal('Risk Events','${instance.key}', 7)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getrEData())}!= 0">
									<td th:text="${#lists.size(cc.getrEData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getdIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getdIData())}"
										th:attr="onclick=|showModal('Delivery Improvements','${instance.key}', 8)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getdIData())}!= 0">
									<td th:text="${#lists.size(cc.getdIData())}"></td>
								</div>
								<div th:if="${#lists.size(cc.getcIData())}!= 0">
									<td><a href="#" th:text="${#lists.size(cc.getcIData())}" th:attr="onclick=|showModal('Creative Ideas','${instance.key}', 9)|"></a></td>
								</div>

								<div th:unless="${#lists.size(cc.getcIData())}!= 0">
									<td th:text="${#lists.size(cc.getcIData())}"></td>
								</div>
							</div>
					</tr>
				</tbody>
			</table>
			<section id="dataDialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main" id="heading"></h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
             <table class="aui" id="tableData"></table>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Close</button>
                </div>
            </footer>
        </section>
        <script>
        function buildCidi(keyData){
        	console.log("Hi into the method");
        	console.log(keyData);
        	var content = '<thead><tr><th rowspan="2">Date</th><th rowspan = "2">Description</th><th rowspan = "2">Priority</th><th colspan="6">Creative Idea/Delivery Improvement Actions</th><th rowspan="2">Remarks</th></tr><tr><th>Cause</th><th>Action Type</th><th>Action</th><th>Responsibility</th><th>Target Date</th><th>Actual Date</th></tr></thead><tbody>';
        	$.each( keyData, function(key, value) {
        		content += '<tr><td>' + value.Reported_Date  + '</td><td>'+ value.Issue_Description + '</td><td>' + value.priority  + '</td><td>'+ value.Root_Cause + '</td><td>'+ value.Action_Type + '</td><td>'+ value.Action +'</td><td>'+ value.Responsibility +'</td><td>'+ value.Target_Date +'</td><td>'+ value.Actual_Date + '</td><td>'+ value.Remarks +'</td></tr>';
        		});
        	content += "</tbody>";
        	 return content;
        } 
        function showModal(heading, key, choice){
        	$("#heading").html(heading + " " +key);
        	var jsonData = $("#cidiData").html();
        	var tmpData = JSON.parse(jsonData);
        	var keyData = tmpData[key];
        	console.log(keyData.cCData);
        	
        	switch(choice) {
            case 1:
            	console.log("into the switch case");
            	
            	content = buildCidi(keyData.cCData);
            	console.log(keyData.cCData);
            	break;
            case 2:
            	content = buildCidi(keyData.cSFAData);
                break;
            case 3:
            	content = buildCidi(keyData.pDPIData);
            	break;
            case 4:
            	content = buildCidi(keyData.pCIData);
                break;
            case 5:
            	content = buildCidi(keyData.iSWData);
                break;
            case 6:
            	content = buildCidi(keyData.iSEData);
            	break;
            case 7:
            	content = buildCidi(keyData.rEData);
                break;
            case 8:
            	content = buildCidi(keyData.dIData);
                break;
            case 9:
            	content = buildCidi(keyData.cIData);
            	break;
        }
        	$("#dataDialog #tableData").html("");
        	$("#dataDialog #tableData").append(content); 
        	AJS.dialog2("#dataDialog").show();
        }
        AJS.$("#dataDialog #dialog-submit-button").click(function () {
            console.log("you called me");
            AJS.dialog2("#dataDialog").hide();
        });
        </script>
			
			
			
			
			