<span id="caData" th:text="${caData}" style="display:none"></span>
<span id="ccData" th:text="${ccData}" style="display:none"></span>
<span id="csfaData" th:text="${csfaData}" style="display:none"></span>
<h4 align="left">Client Complaints Target &lt;= <h4 th:text="${comlaintsTarget}" th:remove="tag"></h4> - Half-Yearly</h4>
<h4 align="left">Recurrence of same Client Complaint Target= <h4 th:text="${recurrenceComplaints}" th:remove="tag"></h4> - Half-yearly</h4>
			<table class="aui">
				<tbody>
					<tr>
						<th>Month</th>
						<th>Client Appreciations</th>
						<th>Client Complaints</th>
						<th>Improve. Reg. Aspects</th>				
					</tr>

					<tr th:each="instance : ${csfa}">
					<td th:text="${instance.key}"></td>
							<div th:if="${#lists.size(appreciations.get(instance.key))} == 0">
		   			<td th:text="${#lists.size(appreciations.get(instance.key))}"></td>
				</div>
    						<div th:unless="${#lists.size(appreciations.get(instance.key))}== 0">	
    	<td><a href="#" th:text="${#lists.size(appreciations.get(instance.key))}" th:attr="onclick=|showModal('caData','${instance.key}', 1)|"></a></td>	
	</div>
	<div th:if="${#lists.size(complaints.get(instance.key))} == 0">
		   			<td th:text="${#lists.size(complaints.get(instance.key))}"></td>
				</div>
    						<div th:unless="${#lists.size(complaints.get(instance.key))}== 0">	
    	<td><a href="#" th:text="${#lists.size(complaints.get(instance.key))}" th:attr="onclick=|showModal('ccData','${instance.key}', 2)|"></a></td>	
	</div>
	<div th:if="${#lists.size(instance.value)}!= 0">
		<td><a href="#" th:text="${#lists.size(instance.value)}" th:attr="onclick=|showModal('csfaData','${instance.key}', 3)|"></a></td>
		</div>
		<div th:unless="${#lists.size(instance.value)}!= 0">
									<td th:text="${#lists.size(instance.value)}"></td>
								</div>
	</tr>
							</tbody>
							</table>
		<section id="dataDialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main" id="heading"></h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
             <table class="aui" id="tableData"></table>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Close</button>
                </div>
            </footer>
        </section>
							<script>


function buildAppreciations(keyData){
	var content = "<thead><tr><th>Date Received</th><th>Received From</th><th>Context</th><th>Received For</th><th>Appreciation Details</th></tr></thead><tbody>";
	$.each( keyData, function(key, value) {
		content += '<tr><td>' + value.dReceived  + '</td><td>'+ value.rFrom + '</td><td>' + value.context  + '</td><td>'+ value.rFor + '</td><td>'+ value.details + '</td></tr>';
		});
	content += "</tbody>";
	return content;
}
function buildComplaints(keyData){
	var content = "<thead><tr><th>Date Received</th><th>Received From</th><th>Complaint Details</th><th>Response Action Plan</th><th>Resolution Status</th></tr></thead><tbody>";
	$.each( keyData, function(key, value) {
		content += '<tr><td>' + value.rDate  + '</td><td>'+ value.rFrom + '</td><td>' + value.description  + '</td><td>'+ value.action + '</td><td>'+ value.status + '</td></tr>';
		});
	content += "</tbody>";
	return content;
}
 function buildCsfa(keyData){
	var content = '<thead><tr><th rowspan="2">Date</th><th rowspan = "2">Description</th><th rowspan = "2">Priority</th><th colspan="6">Creative Idea/Delivery Improvement Actions</th><th rowspan="2">Remarks</th></tr><tr><th>Cause</th><th>Action Type</th><th>Action</th><th>Responsibility</th><th>Target Date</th><th>Actual Date</th></tr></thead><tbody>';
	$.each( keyData, function(key, value) {
		content += '<tr><td>' + value.Reported_Date  + '</td><td>'+ value.Issue_Description + '</td><td>' + value.priority  + '</td><td>'+ value.Root_Cause + '</td><td>'+ value.Action_Type + '</td><td>'+ value.Action +'</td><td>'+ value.Responsibility +'</td><td>'+ value.Target_Date +'</td><td>'+ value.Actual_Date + '</td><td>'+ value.Remarks +'</td></tr>';
		});
	content += "</tbody>";
	 return content;
} 
function showModal(data, key, choice){
	
	var jsonData = $("#"+data).html();
	var tmpData = JSON.parse(jsonData);
	var keyData = tmpData[key];
	console.log(keyData);
	var content = "";
	switch(choice) {
    case 1:
    	$("#heading").html("Client Appreciations: " +key);
    	content = buildAppreciations(keyData);
        break;
    case 2:
    	$("#heading").html("Client Complaints: " +key);
    	content = buildComplaints(keyData);
        break;
    case 3:
    	$("#heading").html("Improvements Regarding Aspects: " +key);
    	content = buildCsfa(keyData);
    	break;
}
	$("#dataDialog #tableData").html("");
	$("#dataDialog #tableData").append(content); 
	AJS.dialog2("#dataDialog").show();
}
AJS.$("#dataDialog #dialog-submit-button").click(function () {
    console.log("you called me");
    AJS.dialog2("#dataDialog").hide();
});
</script>
