<span id="csfaData" th:text="${csatJObj}" style="display:none"></span>
<span id="CSATtarget" style="display: none;" th:text="${CSATtarget}"></span>
<h4 align="left">Client Satisfaction Rating Target &gt;= <h4 th:text="${CSATtarget}" th:remove="tag"></h4></h4>
		<table class="aui">
			<thead>
				<tr>
					<th>Quarter</th>
					<th>Rating</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="instance,itr : ${csat}">
					<td th:text="${instance.key}"></td>
					
					<div th:if="${instance.value.getCSAT_Q6()} == '-' or ${instance.value.getCSAT_Q6()}=='Respondent skipped this question'">
						<td>-</td>
					</div>
					<div th:if="${#strings.contains(instance.value.getCSAT_Q6(),'*')}">
		   			<td th:text="${instance.value.getCSAT_Q6()}">
		   			</td>
				</div>
					<div th:unless="${instance.value.getCSAT_Q6()}=='-' or ${instance.value.getCSAT_Q6()}=='Respondent skipped this question' or ${#strings.contains(instance.value.getCSAT_Q6(),'*')}">
						<td><a href="#" th:text="${instance.value.getCSAT_Q6()}" th:attr="onclick=|showModal('${instance.key}')|"></a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<section id="dataDialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main" id="heading"></h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
            <table class="aui">
							<tr>
								<td><b>Client Name:</b></td>
								<td><span id="customerName"></span></td>
								<td><b>Period:</b></td>
								<td colspan="3"><span id="period"></span></td>
							</tr>
							<tr>
								<td><b>Sent Date:</b></td>
								<td><span id="sentDate"></span></td>
								<td><b>Received Date:</b></td>
								<td><span id="receivedDate"></span></td>
							</tr>
												</table>
												<table class="aui">
													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q1')}"></span></b><br />
														<P>
																<span id="q1"></span>
															</P></td>

													</tr>
													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q2')}"></span></b>
															<br />
															<P>
																<span id="q2"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q3')}"></span></b><br />
															<P>
																<span id="q3"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q4')}"></span></b><br />
															<P>
																<span id="q4"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q5')}"></span></b><br />
															<P>
																<span id="q5"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q6')}"></span></b><br />
															<P>
																<span id="q6"></span>
															</P></td>
													</tr>


													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q7')}"></span></b><br />
															<P>
																<span id="q7"></span>
															</P></td>
													</tr>



													<tr>
														<td><b><span
																th:text="${@environment.getProperty('CSAT_Value_Q8')}"></span></b><br />
															<P>
																<span id="q8"></span>
															</P></td>
													</tr>
												</table>
												</div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Close</button>
                </div>
            </footer>
        </section>
<script>
 
function showModal(key){
	var jsonData = $("#csfaData").html();
	var tmpData = JSON.parse(jsonData);
	var keyData = tmpData[key];
	console.log(keyData);
	$("#heading").html(keyData.Quarter_Start_Date+" "+keyData.Year);
	$("#customerName").html(keyData.Client_Name);
	$("#period").html(keyData.Quarter_Start_Date +" "+ keyData.Year );
	$("#sentDate").html(keyData.Sent_Date);
	$("#receivedDate").html(keyData.Received_Date);
	$("#q1").html(keyData.CSAT_Q1);
	$("#q2").html(keyData.CSAT_Q2);
	$("#q3").html(keyData.CSAT_Q3);
	$("#q4").html(keyData.CSAT_Q4);
	$("#q5").html(keyData.CSAT_Q5);
	$("#q6").html(keyData.CSAT_Q6);
	$("#q7").html(keyData.CSAT_Q7);
	$("#q8").html(keyData.CSAT_Q8);
	AJS.dialog2("#dataDialog").show();
}
AJS.$("#dataDialog #dialog-submit-button").click(function () {
    console.log("you called me");
    AJS.dialog2("#dataDialog").hide();
});
</script>