<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

  
 <head>
  <link rel="stylesheet" href="./css/aui.css" media="all"></link>
  <link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>
<link rel="stylesheet" href="./css/validation.css"></link>
<link rel="stylesheet" href="./css/css1.css"></link>
 <meta name="token" th:content="${atlassianConnectToken}"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
  <link rel="stylesheet" href="/resources/demos/style.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
   
    <script src="./js/errorHandling.js"></script>
     
    
  
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85163</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">59f52008-7567-405a-b736-7fc6dd05c0a1</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85163, 7V7HDZ5JRX2H-659952857-85163</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>

<body>
	<div class="container">
	 <header><h2>CLIENT SATISFACTION</h2></header>
	 <div class="data-left">
	
		<h3>Please select a period from the options below</h3>
		<form class="aui" action="#" th:action="@{/clientSatisfactionControl(jwt=${atlassianConnectToken})}" th:object="${mychoice}" >


	<div class="field-group">		
<label for="quarter">Survey Period:<span class="aui-icon icon-required">(required)</span></label>
			<select class="select" id="quarter" name="quarter" th:field="*{quarter}">
				<option value="">Please Select</option>
				<option th:each="quarter: ${quarterlist}"
					th:value="${quarter}" th:text="${quarter}"></option>
			</select>
			<input type="hidden"  th:field="*{projectname}"></input>
			<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			<button class="aui-button aui-button-primary"  id="submitid" type="submit" onclick="return validationForClientSatisfaction()">Submit</button>
			</div>
			<div class="field-group">
        <div class="error" id="error"></div>
    </div>
    </form>
		
	</div>
	<div class="button-align" >
	<form action="#" th:action="@{/aboutProject(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button class="aui-button" id="submitid" type="submit" onclick="return validationForContinue()">Back</button>
		</form>
	</div>
	
</div>


<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</body>
</html>


