<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link href="./css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="./css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>
<script>

</script>
</head>

<body>
<span id="CSAT" style="display: none;" th:text="${CSAT}"></span>
<span id="CSATtarget" style="display: none;" th:text="${CSATtarget}"></span>
<span id="note" style="display: none;" th:text="${ratingFlag}"></span>

<div class="container" id="table">
<h4 align= "center">Client Rating [Target &gt;= <h4 th:text="${CSATtarget}" th:remove="tag"></h4>]</h4>
<div class="table-responsive">
<table class="table table-bordered" align="center">

 <tbody>
	<tr> 
	<th>Period</th>
	<span th:each="instance : ${csat}">
    	<td th:text="${instance.key}"></td>
    	</span>
    </tr> 
    <tr>
    <th>Rating</th>
    <span th:each="instance : ${csat}">	
    	<div th:if="${instance.value.getCSAT_Q6()} == 'Respondent skipped this question' or ${instance.value.getCSAT_Q6()} == '-'">
		   			<td th:text="${'-'}"></td>
				</div>
			<div th:if="${#strings.contains(instance.value.getCSAT_Q6(),'*')}">
		   			<td th:text="${instance.value.getCSAT_Q6()}">
		   			</td>
				</div>
			<div th:unless="${instance.value.getCSAT_Q6()}=='Respondent skipped this question' or ${instance.value.getCSAT_Q6()} == '-' or ${#strings.contains(instance.value.getCSAT_Q6(),'*')}">
			<td><a href="#" th:text="${instance.value.getCSAT_Q6()}" data-toggle='modal' th:attr="data-target='#model'+${instance.key}"></a>
		  <div class="modal fade" th:id="'model'+${instance.key}" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Client Rating (<h4 th:text="${instance.key}"  th:remove="tag"></h4>)</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
		        
		<div class="table-responsive data-left">		
 		<table class="table table-bordered">
 	<tr>
 		<td><b>Client Name:</b></td>
 		<td><span th:text="${instance.value.getClient_Name()}"></span></td>
 		<td><b>Period:</b></td>
 		<td colspan="3"><span th:text="${instance.value.getQuarter_Start_Date()}+' - '+ ${instance.value.getYear()}"></span></td>
 	</tr>
 	<tr>
 		<td><b>Sent Date:</b></td>
 		<td><span th:text="${instance.value.getSent_Date()}"></span></td>
 		<td><b>Received Date:</b></td>
 		<td><span th:text="${instance.value.getReceived_Date()}"></span></td>
 	</tr>
 	</table>
 	</div>
 	<div class="table-responsive data-left">
 	<table class="table table-bordered">
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q1')}"></span></b><br/><P><span th:text="${instance.value.getCSAT_Q1()}"></span></P></td>
 	
 	</tr>
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q2')}"></span></b> <br/> <P><span  th:text="${instance.value.getCSAT_Q2()}"></span></P></td>
 	</tr>
 	
 	
 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q3')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q3()}"></span></P></td>
 	</tr>
 	

 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q4')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q4()}"></span></P></td>
 	</tr>
 	
 	
 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q5')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q5()}"></span></P></td>
 	</tr>
 	

 	
 	<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q6')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q6()}"></span></P></td>
 	</tr>
 	
 	
 		<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q7')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q7()}"></span></P></td>
 	</tr>
 	
 	
 	
 		<tr>
 		<td><b><span th:text="${@environment.getProperty('CSAT_Value_Q8')}"></span></b><br/> <P><span  th:text="${instance.value.getCSAT_Q8()}"></span></P></td>
 	</tr>
 </table>
 </div>

 
                           
                        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
                     </div>
                  </div>
               </div>
               </td>
               </div>
               </span>
               </tr> 
               </tbody>
               </table>
              
               </div>
               <div th:if="${ratingFlag}">
               <p align="left">*Internal CSAT Rating</p>
               </div>
</div>
</body>
</html>