<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>    
<link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>
<link rel="stylesheet" href="./css/validation.css"></link>
<meta charset="utf-8"></meta>
<meta name="token" th:content="${atlassianConnectToken}" />
 <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	 <script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>  
   <link rel="stylesheet" href="/resources/demos/style.css"/> 

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="./js/errorHandling.js"></script>
    
<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85165</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">4f25b553-21e1-4dcb-863a-3cfbf6e4a684</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85165, 7V7HDZ5JRX2H-659952857-85165</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head><body>

<div id="head"></div>
	<div class="container">
	<header>
<h2>Development Effectiveness</h2>
</header>
	<div id="table-left">
		<h3>please select the project</h3>
		<form id="choiceform" th:action="@{/countReport(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
			<label for="projectname">Project name<span class="mandatory">*</span></label> <select
				th:field="*{projectname}">
				<option value="">Please select</option>
				<option th:each="projectname : ${projectlist}"
					th:value="${projectname}" th:text="${projectname}"></option>
			</select> 
            <input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			<button  id="submitid" type="submit" onclick="return validationForTheProjectList()">Submit</button>
				<span class="error" id="error"></span>
		</form>
		
	</div>
	
	</div>
</body>
</html>