<div class="container">
<h4 align="center">Mean Cycle Time</h4> <!-- [Target = <h4 th:text="${meanCycleTimeTarget}" th:remove="tag"></h4> - Quarterly] -->
<div class="table-responsive">
	<table class="table table-bordered" border="1" align="center">
  		<tbody>
  			<tr>
				<th rowspan="2">Month</th>
			    <th rowspan="2">Work Request Complexity</th>
			    <th colspan="3">Work Request Delivery Cycle Time(d)</th>
			    <!-- <th colspan="3">Work Request Delivery Efforts(hrs)</th> -->
			</tr>
 			<tr>
				<th>Minimum</th>
			    <th>Maximum</th>
			    <th>Average</th>
			   <!--  <th>Minimum</th>
			    <th>Maximum</th>
			    <th>Average</th> -->
			</tr>
			<span th:each="d :${cycletime}">
 			<tr>
				<td rowspan="3" th:text="${d.get(0).getMonth()}"></td>
			    <td>High</td>
			    <td th:text="${d.get(0).getMinHighTime()}"></td>
			    <td th:text="${d.get(0).getMaxHighTime()}"></td>
			    <td th:text="${d.get(0).getAvgHighTime()}"> </td>
			    <!-- <td th:text="${d.get(1).getMinHighTime()}"></td>
			    <td th:text="${d.get(1).getMaxHighTime()}"></td>
			    <td th:text="${d.get(1).getAvgHighTime()}"> </td>   -->
		 	</tr>
 			<tr>
			 	<td>Medium</td>
			    <td th:text="${d.get(0).getMinMedTime()}"></td>
			    <td th:text="${d.get(0).getMaxMedTime()}"></td>
			    <td th:text="${d.get(0).getAvgMedTime()}"></td>
			    <!-- <td th:text="${d.get(1).getMinMedTime()}"></td>
			    <td th:text="${d.get(1).getMaxMedTime()}"></td>
			    <td th:text="${d.get(1).getAvgMedTime()}"></td> -->
		 	</tr>
 			<tr>
			 	<td>Low</td>
			    <td th:text="${d.get(0).getMinLowTime()}"></td>
			    <td th:text="${d.get(0).getMaxLowTime()}"></td>
			    <td th:text="${d.get(0).getAvgLowTime()}"></td>
			   <!--  <td th:text="${d.get(1).getMinLowTime()}"></td>
			    <td th:text="${d.get(1).getMaxLowTime()}"></td>
			    <td th:text="${d.get(1).getAvgLowTime()}"></td> -->
 			</tr>
 		</span>
 </tbody>
</table>
</div>
</div>
