 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

<head>
<link rel="stylesheet" href="./css/css1.css"></link>
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85168</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">446e84df-7218-4b87-8f9f-ef66c8e5659c</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85168, 7V7HDZ5JRX2H-659952857-85168</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body>
<div class="container">
<header>
<h5>DEFECT DATA DISTRIBUTION</h5>
</header>
<div class="table-responsive">
	<table class="table-bordered" align="center">
	<thead>
  <tr>
    <th rowspan = "2">Month</th>
    <th colspan = "4">Total Review Defects</th>
    <th colspan = "4">Total Testing Defects</th>
    <th colspan = "4">Total InProcess Defects</th>
    <th colspan = "4">Total Delivered Defects</th>
  </tr>
  <tr>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
  </tr>
 </thead>
  <tbody>
    <tr th:each="d :${data}">
        <td  th:text="${d.getMonth()}"></td>
        <td  th:text="${d.getrHCount()}"></td>
        <td  th:text="${d.getrMCount()}"></td>
        <td  th:text="${d.getrLCount()}"></td>
        <td  th:text="${d.getrTCount()}"></td>
        <td  th:text="${d.gettHCount()}"></td>
        <td  th:text="${d.gettMCount()}"></td>
        <td  th:text="${d.gettLCount()}"></td>
        <td  th:text="${d.gettTCount()}"></td>
        <td  th:text="${d.getiHCount()}"></td>
        <td  th:text="${d.getiMCount()}"></td>
        <td  th:text="${d.getiLCount()}"></td>
        <td  th:text="${d.getiTCount()}"></td>
        <td  th:text="${d.getdHCount()}"></td>
        <td  th:text="${d.getdMCount()}"></td>
        <td  th:text="${d.getdLCount()}"></td>
        <td  th:text="${d.getdTCount()}"></td>
    </tr> 
    <tr>
        <td> Cumulative</td>
        <td  th:text="${cData.getrHCount()}"></td>
        <td  th:text="${cData.getrMCount()}"></td>
        <td  th:text="${cData.getrLCount()}"></td>
        <td  th:text="${cData.getrTCount()}"></td>
        <td  th:text="${cData.gettHCount()}"></td>
        <td  th:text="${cData.gettMCount()}"></td>
        <td  th:text="${cData.gettLCount()}"></td>
        <td  th:text="${cData.gettTCount()}"></td>
        <td  th:text="${cData.getiHCount()}"></td>
        <td  th:text="${cData.getiMCount()}"></td>
        <td  th:text="${cData.getiLCount()}"></td>
        <td  th:text="${cData.getiTCount()}"></td>
        <td  th:text="${cData.getdHCount()}"></td>
        <td  th:text="${cData.getdMCount()}"></td>
        <td  th:text="${cData.getdLCount()}"></td>
        <td  th:text="${cData.getdTCount()}"></td>
    </tr> 
  </tbody>
</table>
</div>
</div>
   </body> 
</html> 