<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link href="./css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="./css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>



<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
</head>
<body>
	<span id="graphData" style="display: none;" th:text="${riskRatingLine}"></span>
	<span id="riskTarget" style="display: none;" th:text="${riskTarget}"></span>
	<span id="criticalObject" th:text="${criObj}" style="display: none"></span>
	 <div id ="tableData">
		 <h4 align="center">Delivery Risk</h4> 
				<div class="table-responsive">
				<table class="table table-bordered" th:object="${result}"   align="center" id="deliveryRisk">
					<tbody>
					<tr>
						<th colspan="2">Month</th>
						<span th:each="month, itr :${alr}">
							<td th:text="${alr[itr.index][0]}"></td>
						</span>
					</tr>
										<tr>

						<th colspan="2" class="left-align">Total Risks</th>
						<div th:each="cd, itr1 :${tr}">
 							<div th:if="${#lists.size(tr.get(cd.key))}!= 0">
								<td><a href="#" th:text="${#lists.size(tr.get(cd.key))}" data-toggle='modal'
										th:attr="data-target= '#tr.get(cd.key)'+${cd.key}"></a>
										<div class="modal fade" th:id="'tr.get(cd.key)'+${cd.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
											<div class="modal-content">
											
											<div class="modal-header">
														<h4 class="modal-title"> Total Risks (<h4 th:text="${cd.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													
													<div class="modal-body">
													
													<div>
															
													<table class="table table-responsive" id="riskDataTable">
															<tbody>	
																
																	<tr>
																		<th>Risk Key</th>
																		<th>Risk Description</th>
																		<th>Risk Probability(RP)</th>
																		<th>Business Impact(BI)</th>
																		<th>Risk Value</th>
																		<th>Business Impact Description</th>
																		<th>Risk Treatment Option</th>
																		<th>Risk Treatment Action / Control</th>
																		<th>Responsibility</th>
																		<th>Status</th>
																	</tr>
																
																	<tr th:each="d :${tr.get(cd.key)}">
																		<td><a th:href="${d.getIssueLink()}" th:text="${d.getIssueKey()}" target="_blank" ></a></td>
																		<td th:text="${d.getRiskDescription()}"></td>
																		<td th:text="${d.getRiskProbability()}"></td>
																		<td th:text="${d.getBusinessImpact()}"></td>
																		<td th:text="${d.getRiskValue()}"></td>
																		<td th:text="${d.getBusinessImpactDes()}"></td>
																		<td th:text="${d.getRiskTreatmentOp()}"></td>
																		<td th:text="${d.getRiskAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getStatus()}"></td>
																	</tr>
																</tbody>
															</table>
															
															</div>
											
										
											</div>
											<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
											
											</div>
											</div>
												</div>
										</td>
							</div>
							
						<div th:unless="${#lists.size(tr.get(cd.key))} != 0"> 
						<td th:text="${#lists.size(tr.get(cd.key))}"></td>
							</div>			
						</div>
						

					</tr>				
				

					<tr>

						<th colspan="2" class="left-align">Critical Delivery Risks
							Identified</th>
						<div th:each="cd, itr1 :${cdr}">
 							<div th:if="${#lists.size(cdr.get(cd.key))}!= 0">
								<td><a href="#" th:text="${#lists.size(cdr.get(cd.key))}" data-toggle='modal'
										th:attr="data-target= '#cdr.get(cd.key)'+${cd.key}"></a>
										<div class="modal fade" th:id="'cdr.get(cd.key)'+${cd.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
											<div class="modal-content">
											
											<div class="modal-header">
														<h4 class="modal-title"> Critical Delivery Risk Identified (<h4 th:text="${cd.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													
													<div class="modal-body">
													
													<div>
															
													<table class="table table-responsive" id="riskDataTable">
															<tbody>	
																
																	<tr>
																		<th>Risk Key</th>
																		<th>Risk Description</th>
																		<th>Risk Probability(RP)</th>
																		<th>Business Impact(BI)</th>
																		<th>Risk Value</th>
																		<th>Business Impact Description</th>
																		<th>Risk Treatment Option</th>
																		<th>Risk Treatment Action / Control</th>
																		<th>Responsibility</th>
																		<th>Status</th>
																	</tr>
																
																	<tr th:each="d :${cdr.get(cd.key)}">
																		<td><a th:href="${d.getIssueLink()}" th:text="${d.getIssueKey()}" target="_blank" ></a></td>
																		<td th:text="${d.getRiskDescription()}"></td>
																		<td th:text="${d.getRiskProbability()}"></td>
																		<td th:text="${d.getBusinessImpact()}"></td>
																		<td th:text="${d.getRiskValue()}"></td>
																		<td th:text="${d.getBusinessImpactDes()}"></td>
																		<td th:text="${d.getRiskTreatmentOp()}"></td>
																		<td th:text="${d.getRiskAction()}"></td>
																		<td th:text="${d.getResponsibility()}"></td>
																		<td th:text="${d.getStatus()}"></td>
																	</tr>
																</tbody>
															</table>
															
															</div>
											
										
											</div>
											<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
											
											</div>
											</div>
												</div>
										</td>
							</div>
							
						<div th:unless="${#lists.size(cdr.get(cd.key))} != 0"> 
						<td th:text="${#lists.size(cdr.get(cd.key))}"></td>
							</div>			
						</div>
						

					</tr>

				<tr>


						<th colspan="2" class="left-align">Delivery Risks Treated to
							Acceptable Level</th>
						<span th:each="al, itr2 :${alr}">
							<td th:text="${alr[itr2.index][1]} +'%'"></td>
						</span>
					</tr>
					<tr>
						<th colspan="2" class="left-align">Risk Occurrence</th>
						<div th:each="ro, itr1 :${ror}">
 							<div th:unless="${#lists.size(ror.get(ro.key))}== 0">
								<td><a href="#" th:text="${#lists.size(ror.get(ro.key))}" data-toggle='modal'
										th:attr="data-target= '#ror.get(ro.key)'+${ro.key}"></a>
										<div class="modal fade" th:id="'ror.get(ro.key)'+${ro.key}"
											role="dialog">
											<div class="modal-dialog modal-lg">
											<div class="modal-content">
											
											<div class="modal-header">
														<h4 class="modal-title"> Risks Occurred (<h4 th:text="${ro.key}"  th:remove="tag"></h4>)</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													
													<div class="modal-body">
													
													<div>
															
													<table class="table table-responsive" id="riskDataTable">
															<tbody>	
																
																	<tr>
																		<th>Risk Key</th>
																		<th>Risk Description</th>
																		<th>Risk Occurrence Date</th>
																		<th>Risk Event Response Action</th>
																		<th>Responsibility</th>
																		<th>Remarks</th>
																		<th>Status</th>
																		
																	</tr>
																
																	<tr th:each="o :${ror.get(ro.key)}">
																		<td><a th:href="${o.getIssuelink()}" th:text="${o.getKey()}" target="_blank" ></a></td>
																		<td th:text="${o.getRiskDescription()}"></td>
																		<td th:text="${o.getOccurrenceDate()}"></td>
																		<td th:text="${o.getEventResponseAction()}"></td>
																		<td th:text="${o.getResponsibility()}"></td>
																		<td th:text="${o.getRemarks()}"></td>
																		<td th:text="${o.getStatus()}"></td>
																		
																	</tr>
																</tbody>
															</table>
															
															</div>
											
										
											</div>
											<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
													</div>
											
											</div>
											</div>
												</div>
										</td>
							</div>
							
						<div th:if="${#lists.size(ror.get(ro.key))} == 0"> 
						<td th:text="${#lists.size(ror.get(ro.key))}"></td>
							</div>			
						</div>
					</tr>
					<tr>
						<th rowspan="2" class="left-align">Delivery Risk Exposure
							Rating <br> [Target &lt;= <th th:text="${riskTarget}" th:remove="tag"></th> - Quarterly]</br></th>
						<th class="left-align">Before Risk Treatment</th>
						<span th:each="instance : ${err}">
							<td th:text="${instance.value.getAvg_risk_value()}"></td>
						</span>
					</tr>
					<tr>

						<th class="left-align">After Risk Treatment</th>
						<span th:each="instance : ${err}">
							<td th:text="${instance.value.getAvg_residual_value()}"></td>
						</span>
					</tr>
				</tbody>
			</table>

	</div>
	</div>
	
</body>
</html>