
<span id="deliveredData" th:text="${dobj}" style="display:none;"></span>
<h4 align="left">Delivered Defects Target: High = <h4 th:text="${delDefectHighTarget}" th:remove="tag"></h4>, 
     Medium = <h4 th:text="${delDefectMediumTarget}" th:remove="tag"></h4>, 
     Low &lt;= <h4 th:text="${delDefectLowTarget}" th:remove="tag"></h4></h4>
<table class="aui">
  <tbody>
  <tr>
    <th rowspan = "2">Month</th>
    <th colspan = "4">Total Delivered Defects</th>
    <th colspan = "4">Total Review Defects</th>
    <th colspan = "4">Total Testing Defects</th>
    <th colspan = "4">Total InProcess Defects</th>
    
  </tr>
  <tr>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
  </tr>
 
 
    <tr th:each="d :${result}">
        <td  th:text="${d.key}"></td>
        <td  th:text="${d.value.getD().getdHCount()}"></td>
        <td  th:text="${d.value.getD().getdMCount()}"></td>
        <td  th:text="${d.value.getD().getdLCount()}"></td>
        <div th:if="${d.value.getD().getdTCount()} == 0">
  <td th:text="${d.value.getD().getdTCount()}"></td>
  </div>
  <div th:unless="${d.value.getD().getdTCount()}== 0">
  <td><a href="#" th:text="${d.value.getD().getdTCount()}" th:attr="onclick=|showModal('${d.key}')|"></a></td>
  </div>
        <td  th:text="${d.value.getD().getrHCount()}"></td>
        <td  th:text="${d.value.getD().getrMCount()}"></td>
        <td  th:text="${d.value.getD().getrLCount()}"></td>
        <td  th:text="${d.value.getD().getrTCount()}"></td>
        <td  th:text="${d.value.getD().gettHCount()}"></td>
        <td  th:text="${d.value.getD().gettMCount()}"></td>
        <td  th:text="${d.value.getD().gettLCount()}"></td>
        <td  th:text="${d.value.getD().gettTCount()}"></td>
        <td  th:text="${d.value.getD().getiHCount()}"></td>
        <td  th:text="${d.value.getD().getiMCount()}"></td>
        <td  th:text="${d.value.getD().getiLCount()}"></td>
        <td  th:text="${d.value.getD().getiTCount()}"></td>
    </tr> 
     <tr>
        <td> Cumulative</td>
        <td  th:text="${cdh}"></td>
        <td  th:text="${cdm}"></td>
        <td  th:text="${cdl}"></td>
        <td  th:text="${cdt}"></td>
        <td  th:text="${crh}"></td>
        <td  th:text="${crm}"></td>
        <td  th:text="${crl}"></td>
        <td  th:text="${crt}"></td>
        <td  th:text="${cth}"></td>
        <td  th:text="${ctm}"></td>
        <td  th:text="${ctl}"></td>
        <td  th:text="${ctt}"></td>
        <td  th:text="${cih}"></td>
        <td  th:text="${cim}"></td>
        <td  th:text="${cil}"></td>
        <td  th:text="${cit}"></td>
        
        </tr> 
  </tbody>
</table>
<section id="dataDialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main" id="heading"></h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
             <table class="aui" id="tableData"></table>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Close</button>
                </div>
            </footer>
        </section>
<script>
function buildDeliveredDefectData(keyData){
	var content = '<thead><tr><th rowspan="2">Date Reported</th><th rowspan = "2">Delivered Defect Description</th><th rowspan = "2">Severity</th><th colspan="5">Corrective/Preventive Action</th></tr><tr><th>Root Cause</th><th>Action</th><th>Responsibility</th><th>Target Date</th><th>Actual Date</th></tr></thead><tbody>';
	$.each( keyData, function(key, value) {
		content += '<tr><td>' + value.date  + '</td><td>'+ value.Description + '</td><td>' + value.priority  + '</td><td>'+ value.root_cause + '</td><td>'+ value.action + '</td><td>'+ value.responsibility +'</td><td>'+ value.target_date +'</td><td>'+ value.actual_date + '</td></tr>';
		});
	content += "</tbody>";
	 return content;
} 
function showModal(key){
	var jsonData = $("#deliveredData").html();
	var tmpData = JSON.parse(jsonData);
	var keyData = tmpData[key];
	var content = "";
    	$("#heading").html("Delivered Defects Data " +key);
    	content = buildDeliveredDefectData(keyData.d.deliveryCausalData);
    	$("#dataDialog #tableData").html("");
    	$("#dataDialog #tableData").append(content); 
    	AJS.dialog2("#dataDialog").show();
}
AJS.$("#dataDialog #dialog-submit-button").click(function () {
    AJS.dialog2("#dataDialog").hide();
});
</script>