

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<meta name="token" th:content="${atlassianConnectToken}"/>
<link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>
<link rel="stylesheet" href="./css/validation.css"></link>
 <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script> 
  <link rel="stylesheet" href="/resources/demos/style.css"/>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="./js/errorHandling.js"></script>

<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85174</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">dd359875-2064-472f-827a-03b762fb0999</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85174, 7V7HDZ5JRX2H-659952857-85174</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head><body>
<div id="head"></div>
 <div class="container">
 <header>
<h2>ABOUT THE PROJECT</h2>
</header>

 <div id="space">
 <div id="table-left">
 
<h4>No issues created with the requested type in "<span th:text="${project_title}"></span>"!</h4>
<div id="left">
<div id="buttons">
<form action="#" th:action="@{/aboutProject(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button  id="submitid" type="submit">Back</button>
		</form>
		
		
		
		<form action="#" th:action="@{/clientSatisfactionProjecList(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
		<input type="hidden"  th:field="*{projectname}"></input>
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<button  id="submitid" type="submit" onclick="return validationForContinue()">Continue</button>
		</form>

</div>
</div>
</div> 
</div>
<div id="space"></div>

</div>
</body>
</html>