

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<meta name="token" th:content="${atlassianConnectToken}"/>
<link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>
<link rel="stylesheet" href="./css/validation.css"></link>
 <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script> 
  <link rel="stylesheet" href="/resources/demos/style.css"/>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="./js/errorHandling.js"></script>

<head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85175</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">47efa670-9287-4538-89d4-1070884a15ad</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85175, 7V7HDZ5JRX2H-659952857-85175</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head><body>
<div id="head"></div>
 <div class="container">
 <header>
<h2>CUMULATIVE DEVELOPMENT EFFECTIVENESS</h2>
</header>

 <div id="space">
 <div id="table-left">
 
<h4>No defects were created in the "<span th:text="${proj}"></span>" within the requested date range.</h4>

 <div id="left">

 <div id="buttons">
 <form action="#" th:action="@{/rangeReport(jwt=${atlassianConnectToken})}" th:object="${mychoice}">
<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<input type="hidden"  th:field="*{projectname}"></input>
<button  id="submitid" type="submit" onclick="return validationForTheProjectList()">Continue</button>

		</form>
		<form action="#" th:action="@{/viewmetrics(jwt=${atlassianConnectToken})}" th:object="${mychoice}">

<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" ></input>
<input type="hidden"  th:field="*{projectname}"></input>
<button  id="submitid" type="submit" >Back</button>
		</form>
		
		 </div>
		 </div>
</div> 
</div>
<div id="space"></div>

<img src='images/712.GIF' id='selector' class="loading-dots" style="display:none"/>

</div>
</body>
</html>