<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>

<meta name="token" th:content="${atlassianConnectToken}" />
<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
 


<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85183</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">c8b8c906-6785-44e1-8a6e-e1e216545cc5</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85183, 7V7HDZ5JRX2H-659952857-85183</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body>

<div id="head"></div>
<div class="container">
<header>
<h2>Internal Audit Report</h2>
</header>
<h3>Project:<span th:text="${projectName}"></span></h3>
 <div id="table-left">
 <div>

	<table class="center" th:object="${result}" th:each="r :${result}" border="1">
  		 <tr>
  	 		 <td  th:text="'Audit ID: '+${r.getId()}"></td>
   			 <td th:text="'Audit Area: '+${r.getArea()}"></td>		 
  		</tr>
  		<tr >
  		<td th:text="'Auditors: '+${r.getAuditors()}"> </td>
 			 <td th:text="'Auditees: '+${r.getAuditees()}">  </td>		 
			 </tr>
 			 <tr>			 
 			 <td th:text="'Audit Date: '+${r.getAuditDate()}"></td>
 			 <td th:text="'Audit Report prepared by: '+${r.getPreparedBy()}"></td>			
 			 </tr>
 			

</table>
	<h3> Good Points</h3>
	<table class="center" th:object="${result}" th:each="r :${result}"  border="1">
 
 		
 		<tr>	    
 			 <td th:text="${r.getGoodPoints()}"></td>	
 		</tr>
 		</table>
 	<h3>	Non-Conformances</h3>
<div th:if="${#lists.size(result.getNc())} != 0">
 		<table class="center" th:object="${result}" border="1">
   <thead>
  		<tr>
  	 		 <th rowspan="2">Sl. No.</th>
   			 <th rowspan="2" class="colwid">NC Description</th>
   			 <th rowspan="2">Applicable Process Title</th>
   			 <th rowspan="2">Applicable Process Requirement</th>
   			 <th rowspan="2">Severity</th>
   			 <th rowspan="2">Evidence</th>
   			 <th rowspan="2">Cause of NC</th>
   			 <th rowspan="2">Correction</th>
   			 <th rowspan="2">Responsibility</th>
   			 
<th  rowspan="1" colspan="2"> Closure Date
   			
   			
   			
   	
   			
   			</th>
   		
 		<th rowspan="2">Corrective Action</th>
 			<th rowspan="2">Responsibility</th>
 				
 				<th rowspan="1" colspan="2">Closure Date
   		
   			</th>
   			<th rowspan="2">Verification Details</th>
   			<th rowspan="2"> Verified By</th>
   			<th rowspan="2"> Verification Date</th>
   			<th rowspan="2">Closure Remarks</th>
 		</tr>
 		<tr>
 		<th>Planned </th>
   			<th>Actual</th>
   			<th>Planned </th>
   			<th>Actual</th>
 		</tr>
 		</thead>
 		<tr th:object="${result}" th:each="i,iter :${result.nc}">
 		<td th:text="${iter.index + 1}"> </td> 
 		<td class="levels" th:text="${i.getDescription()}"> </td>
 		<td th:text="${i.getProcess()}"> </td>
 		<td th:text="${i.getProcessRequirement()}"> </td>
 		<td th:text="${i.getSeverity()}"> </td>
 		<td th:text="${i.getEvidence()}"> </td>
 		<td th:text="${i.getCause()}"> </td>
 		<td th:text="${i.getCorrection()}"> </td>
 		<td th:text="${i.getCorrectionResponsibility()}"> </td>
 		
 		
 		<td th:text="${i.getCorrectionPlannedDate()}"> </td>
 		<td th:text="${i.getCorrectionActualDate()}"> </td>
 		
 		
 		<td th:text="${i.getCorrectiveAction()}"> </td>
 		<td th:text="${i.getActionResponsibility()}"> </td>
 	
 		<td th:text="${i.getActionPlannedDate()}"> </td>
 		<td th:text="${i.getActionActualDate()}"> </td>
 		
 		<td th:text="${i.getVerificaitonDetails()}"> </td>
 		<td th:text="${i.getVerifiedBy()}"> </td>
 		<td th:text="${i.getVerifiedDate()}"> </td>
 		<td th:text="${i.getClosureRemark()}"> </td>
 		
 		
 		</tr>
 		
 		</table>
 		</div>
 		<div th:unless="${#lists.size(result.getNc())} != 0">
             No Non-conformances issued during the selected Internal Audit period.
 		
 		</div>
 	 <div th:if="${#lists.size(result.getIo())} != 0">
 	 	<h2>Improvement Oppurtunities</h2>
 		<table class="center"    border="1">
        
  		<tr>
  	 		 <th>S. No.</th>
   			 <th>Process Improvement</th>
   			 <th>Action Plan</th>
   			 <th>Responsibility </th>
   			 <th>Target Date</th>
   			 <th>Actual Date</th>
   			  <th>Remarks </th>
 		</tr>
 		<tr th:object="${result}" th:each="i,iter :${result.io}">
 	 	<td th:text="${iter.index + 1}"> </td> 
 		<td th:text="${i.getProcessImprovements()}"> </td>
 		<td th:text="${i.getActionPlan()}"> </td>
 		<td th:text="${i.getPiresponsibility()}"> </td>
 		<td th:text="${i.getTargetDate()}"> </td>
 		<td th:text="${i.getActualDate()}"> </td>
 		<td th:text="${i.getRemarks()}"> </td>
 		
 		
 		</tr>
 		</table> 
 		</div>

 </div>
</div>


</div>
   </body>
</html>