<h4 align="center">Requirements Compliance</h4>
<p style="margin-bottom: 5px;">[Requirements Delivered on Time Target= <h4 th:text="${reqDelOnTimeTarget}" th:remove="tag"></h4>%]</p>
 <div th:if="${#lists.size(data)} == 0">
   <h5 align="center">There are no sprints in the selected project</h5>
    </div>
    <div th:unless="${#lists.size(data)} == 0">
<div class="table-responsive">
	<table class="table table-bordered" align="center">
  		<tbody>
  		<tr>
  	 		 <th th:text="${type}"></th>
   			 <th>Story</th>
   			 <th>Improvement</th>
   			 <th>New Requirement</th>
 			 <th>Change Request</th>
 			 <th>Production Issue Support</th>
 			  <th>Task</th>
 			  <th th:text="${metricName}"></th>
 			 
  		</tr>
  
    <tr th:each="d :${data}">
        <td  th:text="${d.getMonth()}"></td>
        <td  th:text="${d.getsCount()}"></td>
        <td  th:text="${d.getiCount()}"></td>
        <td  th:text="${d.getNrCount()}"></td>
        <td  th:text="${d.getCrCount()}"></td>
        <td  th:text="${d.getPisCount()}"></td>
        <td  th:text="${d.gettCount()}"></td>
        <td  th:text="${d.getReqDelOnTime()}"></td>
    </tr>
  </tbody>
</table>
</div>
</div>