<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<link rel="stylesheet" href="./css/viewmetrics.css"></link>
<link rel="stylesheet" href="./css/css1.css"></link>
<link rel="stylesheet" href="./css/table.css"></link>
<link rel="stylesheet" href="./css/aui.css" media="all"></link>
 <meta charset="utf-8"></meta>
<meta name="token" th:content="${atlassianConnectToken}"/>
 <script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="./js/errorHandling.js"></script>
  <link rel="stylesheet" href="./css/validation.css"></link>
</head>
    
<body>
<div class="container">
	<header>
<h2>MONTHLY PERFORMANCE REVIEW</h2>
</header>
	<div class="data-left">
		<h3>Please select a project to display the project details</h3>	
		<form class="aui" th:action="@{${pageNavigator}(jwt=${atlassianConnectToken})}" th:object="${mychoice}" >

		<div class="field-group">
 				<label for="catId" class="dark">Project name<span class="aui-icon icon-required"></span></label>
       			<select class="select" id="projectname" name="select-example" th:field="*{catId}">
            	<option value="">Select</option>
           		<option th:each="projectname : ${projectlist}"
					th:value="${projectname.getId() + '~'+ projectname.getCategory()+ '~'+ projectname.getName()}" th:text="${projectname.getName()}"></option>			
				</select>
				<input type="hidden" name="jwt" th:value="${atlassianConnectToken}" />
			<button class="aui-button aui-button-primary"  id="submitid" type="submit" onclick="return validationForLandingPage()">Submit</button> 
		</div>
		<div class="field-group">
        <div class="error" id="error"></div>
		</div>	

		</form>
		
	</div>

</div>
<div class="imageStyle" style="display:none">
<img src='./images/712.GIF' id='selector' class="loading-dots"/>
</div>
</body>
</html>

