<h4 align="left">Review Effectiveness Target >= <h4 th:text="${revTarget}" th:remove="tag"></h4>% - Quarterly</h4>
<h4 align="left">Defect Removal Efficiency Target >= <h4 th:text="${dreTarget}" th:remove="tag"></h4>% - Quarterly</h4>
<table class="aui" th:object="${result}">
                <tr>
                  <th>Month-Year</th>
                  <th>Total Testing Defects</th>
                  <th>Total Review Defects</th>
                  <th>Total Review Effort(Hrs) </th>
                   <th>Total Inprocess Defects</th>
                   <th>Review Efficiency</th>
                  <th>Review Effectiveness(%)</th>
                  <th>Testing Effectiveness(%)</th>
                     <th>Delivered Defects</th>
                  <th>Defect Removal Efficiency(DRE)(%)</th>
                </tr>
              <tbody>
                <tr th:each="r :${result}">
                  <td  th:text="${r.key}"></td>
                  <td th:text="${r.value.getTesd()}"></td>
                  <td th:text="${r.value.getTotal_review_defects()}"></td>
                  <td th:text="${r.value.getTotal_review_effort()}"></td>
                  
                 
                  <td th:text="${r.value.getTotal_inprocess_defects()}"></td>
                  <td th:text="${r.value.getReview_efficiency()}"></td>
                  <td th:text="${r.value.getRevef()}"></td>
                  <td th:text="${r.value.getTesteff()}"></td>
                   <td th:text="${r.value.getDeld()}"></td>
                  <td th:text="${r.value.getDreff()}"></td>
                </tr>
              </tbody>
            </table>