<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link> -->
<link href="./css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="./css/style.css?v=3" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>
<script>
function changeCursor(a){
		debugger;
		console.log("into the method");
		document.getElementById(a).style.cursor = "default";
		return false;
	}
	
	function changeProjectSelection(){
		$(".loading-dots").show();
		$(".container-fluid").hide();
		 $.ajax({
		        url: "changeSelectionPage",
		        cache: true,
		        beforeSend: function (request) {
		            var token = $('meta[name="token"]').attr("content");
		            request.setRequestHeader("Authorization", "JWT " + token);
		        }
		      }).done(function(data) {
		    	  $(".container-fluid").html(data);
		    	  $(".loading-dots").hide();
		  		  $(".container-fluid").show();
		         
		      });
	}
</script>
</head>
<body>
<span th:text="${function}" id="function" style="display:none;"></span>
<div class="container-fluid"> 
 
<nav class="navbar navbar-expand-sm navbar-dark bg-primary justify-content-end">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fa fa-bars"></i>
  </button>
<h2 class="navbar-brand mr-4  flex-grow-1 " th:text="${project_title}"></h2>

<div th:if="${projectListSize} !='1'">
<button type="button" class="btn btn-default btn-md" onclick="changeProjectSelection()">Change Project</button>
</div>
<div class="collapse navbar-collapse  my-2 my-lg-0" id="navbarTogglerDemo03">
     <ul class="nav nav-tabs ml-auto" data-tabs="tabs">
       <li class="nav-item mr-auto" >
		 <div th:if="${atpURL}">
		   <a class="nav-link" id="status-bar-link" href="#" th:onclick="|window.open('${atpURL}','_blank','width=1000,height=500, scrollbars=1')|">About project</a>
		</div>
		<div th:unless="${atpURL}">
		<a class="nav-link" id="status-bar-link" onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >About Project</a>
		</div>
      </li>
           <li class="nav-item">
           <div th:if="${processURL}">
		   <a class="nav-link" id="status-bar-link" href="#" th:onclick="|window.open('${processURL}','_blank','width=1000,height=500, scrollbars=1')|">Project Process</a>
		</div>
		<div th:unless="${processURL}">
		<a class="nav-link" id="status-bar-link" onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Project Process</a>
		</div>
      </li>
      <li class="nav-item">
        <div th:if="${teURL}">
		   <a class="nav-link" id="status-bar-link" href="#" th:onclick="|window.open('${teURL}','_blank','width=1000,height=500, scrollbars=1')|">Technology Environment</a>
		</div>
		<div th:unless="${teURL}">
		<a class="nav-link" id="status-bar-link" onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Technology Environment</a>
		</div>
      </li>
      <li class="nav-item">
        
      
      <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Click for more
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <div th:if="${clientURL}">
		   <li><a href="#" th:onclick="|window.open('${clientURL}','_blank','width=1000,height=500, scrollbars=1')|">Client Supplied Item</a></li>
		</div>
		<div th:unless="${clientURL}">
		<li><a onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Client Supplied Item</a></li>
	</div>
	<div th:if="${networkURL}">
		   <li><a href="#" th:onclick="|window.open('${networkURL}','_blank','width=1000,height=500, scrollbars=1')|">Network Connectivity and Information Security</a></li>
		</div>
		<div th:unless="${networkURL}">
		<li><a onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Network Connectivity and Information Security</a></li>
	</div>
    <div th:if="${configurationURL}">
		   <li><a href="#" th:onclick="|window.open('${configurationURL}','_blank','width=1000,height=500, scrollbars=1')|">Configuration and Change Control</a></li>
		</div>
		<div th:unless="${configurationURL}">
		<li><a onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Configuration and Change Control</a></li>
	</div>
    <div th:if="${momURL}">
		   <li><a href="#" th:onclick="|window.open('${momURL}','_blank','width=1000,height=500, scrollbars=1')|">Project Review-MoM</a></li>
		</div>
		<div th:unless="${momURL}">
		<li><a onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Project Review-MoM</a></li>
	</div>
      <div th:if="${retroURL}">
		   <li><a href="#" th:onclick="|window.open('${retroURL}','_blank','width=1000,height=500, scrollbars=1')|">Retrospective</a></li>
		</div>
		<div th:unless="${retroURL}">
		<li><a onMouseOver="this.style.cursor='default'" data-placement="right" title="Confluence link not attached" data-tooltip="tooltip" >Retrospective</a></li>
	</div>
    
  </ul>
</div>
      </li>
      
      
    </ul>
  </div>
</nav>



<div class="row">
            <div class="col-lg-6 col-md-12">
<div class="card">
                  <div class="card-header card-header-tabs card-header-info">
                     <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                        
                        <div class="row">
                        <div class="col-md-6">
                          <h4  class="card-title mn-40">CLIENT SATISFACTION</h4>
                        </div>
                        <div class="col-md-6 text-right">
                           <div class="btn-group mt-0" role="group" aria-label="Basic example">
                              <button type="button" id="one" class="btn btn-info btn-sm" onclick="hideAndShowData('cTable', 'csat_div','client',true)"><i class="fa fa-bar-chart"></i></button>
                              <button type="button" id="two" class="btn btn-info btn-sm" onclick="hideAndShowData('csat_div', 'cTable','client', false)"><i class="fa fa-table"></i></button>
                       		  <button type="button" id="maximize" class="btn btn-info btn-sm"><i class="fa fa-expand"></i></button>
                           </div>
                        </div>
                     </div>
                           <ul class="nav nav-tabs" data-tabs="tabs">
                              <li class="nav-item">
                                 <a class="nav-link active"  href="#" data-toggle="tab" id="feedback">
                                    Feedback Rating
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id ="aspect" href="#" data-toggle="tab" data-placement="right" title="Delivery Improvement for Client Satisfaction Feedback Aspect" data-tooltip="tooltip">
                                    Feedback For Delivery Improvement
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id ="appreciation" href="#" data-toggle="tab">
                                    Appreciations
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" id="complaint" href="#" data-toggle="tab">
                                    Complaints
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="card-body mn-50 responsiveCard" id="firstCard"> 
                          <div id="csat_div" align="center"></div>
                           <div id= "cTable" class="table-responsive" align= "center" style="display:none;"></div>
            </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="card-header card-header-tabs card-header-warning">
                     <div class="row">
                        <div class="col-md-6">
                           <h4  class="card-title mn-40">DELIVERY MANAGEMENT EFFECTIVENESS</h4>
                        </div>
                        <div class="col-md-6 text-right">
                        	<div class="btn-group mt-0" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-warning btn-sm" id="five" onclick="togglingRiskAndVelocity('riskTable','riskrating_div',true)"><i class="fa fa-bar-chart"></i></button>
	                            <button type="button" class="btn btn-warning btn-sm" id ="six" onclick="togglingRiskAndVelocity('riskrating_div','riskTable',false)"><i class="fa fa-table"></i></button>
	                        	<button type="button" id="maximize1" class="btn btn-warning btn-sm"><i class="fa fa-expand"></i></button>
	                        </div>
                        </div>
                     </div>
                           <ul class="nav nav-tabs" data-tabs="tabs">
                           <li class="nav-item">
                                 <a class="nav-link active" data-toggle="tab"  href="#"  id="reqFulfillment">
                                    Requirements Compliance
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                               <li class="nav-item">
                                <a class="nav-link"  href="#" data-toggle="tab" id="dynamicTab" th:text="${tabName}">
                                    <div class="ripple-container"></div>
                                    
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link"  href="#" data-toggle="tab" id="risks">
                                    Delivery Risk
                                    <div class="ripple-container"></div>
                                    
                                 </a>
                              </li>
                        <!--       <li class="nav-item">
                                 <a class="nav-link"  href="#" data-toggle="tab" id="cycletime">
                                    Delivery Cycle Time
                                    <div class="ripple-container"></div>
                                    
                                 </a>
                              </li> -->
                              </ul>
                  </div>
                  <div class="card-body  mn-50 responsiveCard" id="secondCard">
                           <div id="riskrating_div" align="center" style="display:none;"></div>
                           <div id="riskTable"  align="center"></div>
                  </div>
               </div>
            </div> 
</div>
<div class="row">
            <div class="col-lg-6 col-md-12">
               <div class="card">
                  <div class="card-header card-header-tabs card-header-danger">
                   <div class="row">
                        <div class="col-md-6">
                           <h4 class="card-title mn-40">DEVELOPMENT EFFECTIVENESS</h4>
                        </div>
                        <div class="col-md-6 text-right">
                           <div class="btn-group mt-0" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-danger btn-sm" id="three" onclick="buildMethod('dtable','graph',true)"><i class="fa fa-bar-chart"></i></button>
                              <button type="button" class="btn btn-danger btn-sm" id ="four" onclick="buildMethod('graph','dtable',false)"><i class="fa fa-table"></i></button>
                           	  <button type="button" id="maximize3" class="btn btn-danger btn-sm"><i class="fa fa-expand"></i></button>
                           </div>
                        </div>
                     </div>
                     <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                           <ul class="nav nav-tabs" data-tabs="tabs">
                              
                              
                              <li class="nav-item">
                                 <a class="nav-link active" href="#" data-toggle="tab"  id="defects">
                                 	Defect Data
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#" data-toggle="tab" id="rEffAdc">
                                    Review Effectiveness (Analysis, Design and Coding)
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#" data-toggle="tab" id="rEff">
                                    Review Effectiveness
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>
       
                    <!--           <li class="nav-item"><a class="nav-link" data-toggle="dropdown" href="#" id="moreTab">More <span class="caret"></span></a>
						        <ul class="dropdown-menu"> -->
						          <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="testing" href="#">
                                    Testing
                                 </a></li>
						          <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" data-placement="right" title="Defect Removal Efficiency" data-tooltip="tooltip" href="#"  id="dre">
                                    DRE
									</a></li>
									<li class="nav-item">					     
						          <a role="tab" class="nav-link" data-toggle="tab" id="srf" href="#" data-placement="right" title="First Time Right Requirements" data-tooltip="tooltip">
                                    FTR Requirements
                                 </a></li>
                                 
						       <!--  </ul>
						       </li>  -->
              
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="card-body mn-50 responsiveCard" id="thirdCard"> 
                           <div id="graph" align = "center" class="chart"></div>
							<div id="dtable" align = "center" style="display:none"></div>
							<div id="buttonData"></div>
               </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                  <div class="card-header card-header-tabs card-header-success">
                   <div class="row">
                        <div class="col-md-8">
                        <h4  class="card-title mn-40">PROCESS EFFECTIVENESS</h4>
                        </div>
                        <div class="col-md-4 text-right">
                        <button type="button" id="maximize4" class="btn btn-success btn-sm"><i class="fa fa-expand"></i></button>
                        </div>
                     </div>
                           <ul class="nav nav-tabs" data-tabs="tabs">
                           <li class="nav-item">
                                 <a class="nav-link active"  href="#" data-toggle="tab" id="cidi">
                                   Creative Ideas/Delivery Improvements
                                    <div class="ripple-container"></div>
                                 </a>
                              </li>    
                              </ul>
                  </div>
                  <div class="card-body mn-50 responsiveCard" id="fourthCard"> 
                           <div id = "processData" align="center">
+				 		</div>
                  </div>
               </div>
            </div> 
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap-material-design.min.js"></script>


<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script src="./js/script.js?v=1" type="text/javascript"></script>
 <script src="./js/script1.js?v=1" type="text/javascript"></script>
</body>

<img src='./images/712.GIF' id='selector' class="loading-dots" style="display:none"/>
</html>