<span id="defectsBar" style="display: none;" th:text="${defectsBar}"></span> 
 <span id="LineEff" style="display: none;" th:text="${LineEff}"></span>
 <span id="DRE" style="display: none;" th:text="${DRE}"></span>
 <span id="SRF" style="display: none;" th:text="${SRF}"></span>
 <span id="dreTarget" style="display: none;" th:text="${dreTarget}"></span>
 <span id="revTarget" style="display: none;" th:text="${revTarget}"></span>
  <span id="result" style="display:none;" th:text="${result}"></span>
  
  <div class="zui-wrapper">
  <h4 align="center">Defect Removal Efficiency</h4>
  <div th:if="${#lists.size(result)} == 0">
   <h5 align="center">There are no sprints in the selected project</h5>
</div>
<div th:unless="${#lists.size(result)} == 0">
           <div class="table-responsive">           
                <table class="table table-bordered" th:object="${result}" border="1" id="tblDre">
                <tr>
                  <th th:text="${type}"></th>
                  <th>Unit Testing Defects</th>
                  <th>Total Testing Defects</th>
                  <th>Total Review Defects</th>
                  <!-- <th>Total Review Effort(Hrs) </th> -->
                   <th>Total Inprocess Defects</th>
                  <!--  <th>Review Efficiency</th> -->
                  <th>Review Effectiveness(%)</th>
                  <th>Testing Effectiveness(%)</th>
                   <th>Delivered Defects</th>
                  <th>Defect Removal Efficiency(DRE)(%)</th>
                </tr>
              <tbody>
                <tr th:each="r :${result}">
                  <td th:text="${r.getMonth()}"></td>
                  <td  th:text="${r.getD().getUnitTestingDefects()}"></td>
                  <td th:text="${r.getTesd()}"></td>
                  <td th:text="${r.getTotal_review_defects()}"></td>
                  <!-- <td th:text="${r.getTotal_review_effort()}"></td> -->
                  
                 
                  <td th:text="${r.getTotal_inprocess_defects()}"></td>
                  <!-- <td th:text="${r.getReview_efficiency()}"></td> -->
                  <td th:text="${r.getRevef()}"></td>
                  <td th:text="${r.getTesteff()}"></td>
                   <td th:text="${r.getDeld()}"></td>
                  <td th:text="${r.getDreff()}"></td>
                </tr>
              </tbody>
            </table>
            </div>
         </div>
         </div>
         <div id="tableOne" >
     <h4 style="margin-bottom: 3px;" align="center">Defect Distribution Data</h4>
     <p style="margin-bottom: 3px;">[Delivered Defects Target: High = <h4 th:text="${delDefectHighTarget}" th:remove="tag"></h4>, 
     Medium = <h4 th:text="${delDefectMediumTarget}" th:remove="tag"></h4>, 
     Low &lt;= <h4 th:text="${delDefectLowTarget}" th:remove="tag"></h4>]</p>
     <p style="margin-bottom: 3px;">[In-Process Defects Target = <h4 th:text="${inprocessDefectsTarget}" th:remove="tag"></h4>]</p>
     <div th:if="${#lists.size(result)} == 0">
     	<h5 align="center">There are no sprints in the selected project</h5>
     </div>
     <div th:unless='${#lists.size(result)} == 0'>
     <div class="table-responsive">
     <table class="table table-bordered" align="center" border="1">
	<tbody>
  <tr>
    <th class="width1" th:text="${type}"></th>
    <th>Total Delivered Defects</th>
    <th>Total Review Defects</th>
    <th>Total Testing Defects</th>
    <th>Total InProcess Defects</th>
  </tr>
  
  <tr th:each="d :${result}">
  <td  th:text="${d.getMonth()}"></td>  
  <div th:if="${d.getD().getdTCount()} == 0">
  <td th:text="${d.getD().getdTCount()}"></td>
  </div>
  <div th:unless="${d.getD().getdTCount()}== 0">
  <td><a href="#" th:text="${d.getD().getdTCount()}" data-toggle="modal" th:attr="data-target='#'+${d.getMonth()}"></a>
  <div class="modal fade" th:id="${d.getMonth()}" role="dialog">
  <div class="modal-dialog modal-lg"><div class="modal-content">
  <div class="modal-header">
  <h4 class="modal-title">Causal Analysis (<h4 th:text="${d.getMonth()}"  th:remove="tag"></h4>)</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
  <div class="table-responsive">
  <table class="table table-bordered">
  <tbody class="justifiedTable">
  <tr>
  <th rowspan = "2">Date Reported</th>
  <th class="fixedw" rowspan = "2">Delivered Defect Description</th>
  <th rowspan = "2">Severity</th>
  <th colspan="5">Corrective/ Preventive Action</th>
  </tr>
  <tr>
  <th>Root Cause</th>
  <th>Action</th>
  <th>Responsibility</th>
  <th>Target Date</th>
  <th>Actual Date</th>
  </tr>
  
  
  <tr th:each="i :${d.getD().getDeliveryCausalData()}">
  <td  th:text="${i.getDate()}"></td>
  <td  th:text="${i.getDescription()}"></td>
  <td  th:text="${i.getPriority()}"></td>
  <td  th:text="${i.getRoot_cause()}"></td>
  <td  th:text="${i.getAction()}"></td>
  <td  th:text="${i.getResponsibility()}"></td>
  <td  th:text="${i.getTarget_date()}"></td>
  <td  th:text="${i.getActual_date()}"></td>
  </tr>
  </tbody>
  </table>
  </div>
  
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>
  </td>
  </div>
  <td  th:text="${d.getD().getrTCount()}"></td>
  <td  th:text="${d.getD().gettTCount()}"></td>
  <td  th:text="${d.getD().getiTCount()}"></td>
  </tr> 
  </tbody>
</table> 
</div>
</div>
</div>
<div id="buttonData">
<div th:if='${#lists.size(result)} != 0'>
<div>
<button type="button" class="btn-xs" style="float:right;" id="defectsData" data-toggle="modal" data-target="#myModal">More</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Defect Distribution Data</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
	<table class="table-bordered" align="center">
  <tbody>
  <tr>
    <th rowspan = "2" th:text="${type}"></th>
    <th colspan = "4">Total Delivered Defects</th>
    <th colspan = "4">Total Review Defects</th>
    <th colspan = "4">Total Testing Defects</th>
    <th colspan = "4">Total InProcess Defects</th>
    
  </tr>
  <tr>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Total</th>
  </tr>
 
 
    <tr th:each="d :${result}">
        <td  th:text="${d.getMonth()}"></td>
        <td  th:text="${d.getD().getdHCount()}"></td>
        <td  th:text="${d.getD().getdMCount()}"></td>
        <td  th:text="${d.getD().getdLCount()}"></td>
        <td  th:text="${d.getD().getdTCount()}"></td>
        <td  th:text="${d.getD().getrHCount()}"></td>
        <td  th:text="${d.getD().getrMCount()}"></td>
        <td  th:text="${d.getD().getrLCount()}"></td>
        <td  th:text="${d.getD().getrTCount()}"></td>
        <td  th:text="${d.getD().gettHCount()}"></td>
        <td  th:text="${d.getD().gettMCount()}"></td>
        <td  th:text="${d.getD().gettLCount()}"></td>
        <td  th:text="${d.getD().gettTCount()}"></td>
        <td  th:text="${d.getD().getiHCount()}"></td>
        <td  th:text="${d.getD().getiMCount()}"></td>
        <td  th:text="${d.getD().getiLCount()}"></td>
        <td  th:text="${d.getD().getiTCount()}"></td>
    </tr> 
     <tr>
        <td> Cumulative</td>
         <td  th:text="${cdh}"></td>
        <td  th:text="${cdm}"></td>
        <td  th:text="${cdl}"></td>
        <td  th:text="${cdt}"></td>
        <td  th:text="${crh}"></td>
        <td  th:text="${crm}"></td>
        <td  th:text="${crl}"></td>
        <td  th:text="${crt}"></td>
        <td  th:text="${cth}"></td>
        <td  th:text="${ctm}"></td>
        <td  th:text="${ctl}"></td>
        <td  th:text="${ctt}"></td>
        <td  th:text="${cih}"></td>
        <td  th:text="${cim}"></td>
        <td  th:text="${cil}"></td>
        <td  th:text="${cit}"></td>   
        </tr> 
  </tbody>
</table>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
  <div class="adcTable">
  <h4 align="center">Review Effectiveness (Analysis, Design and Coding)</h4>
  <div th:if="${#lists.size(result)} == 0">
   <h5 align="center">There are no sprints in the selected project</h5>
</div>
<div th:unless="${#lists.size(result)} == 0">
           <div class="table-responsive">           
                <table class="table table-bordered" th:object="${result}" border="1" id="adcTbl">
                <tr>
                  <th th:text="${type}"></th>
                  <th>Total Testing Defects</th>
                  <th>Review Defects (Analysis, Design and Coding)</th>
                  <th>Inprocess Defects (Analysis, Design and Coding) </th>
                  <th>Review Effectiveness(%) (Analysis, Design and Coding)</th>
                </tr>
              <tbody>
                <tr th:each="r :${result}">
                  <td th:text="${r.getMonth()}"></td>
                  <td th:text="${r.getTesd()}"></td>
                  <td th:text="${r.getReviewDefectsAdc()}"></td>
                  <td th:text="${r.getInpd()}"></td>
                  <td th:text="${r.getReview_effectiveness_adc()}"></td>
                </tr>
              </tbody>
            </table>
            </div>
         </div>
         </div>