<span id="newVelocityChartData" style="display: none;" th:text="${newVelocityChart}"></span> 
<div class="container" id="velocityChartTable">
<h4 align="center">Velocity Data</h4> 
<div th:if="${#lists.size(velocityData)} == 0">
   <h5 align="center">There are no sprints in the selected project</h5>
    </div>
    <div th:unless="${#lists.size(velocityData)} == 0">
	<div class="table-responsive">
		<table class="table table-bordered" border="1" align="center">
			<tbody>
				<tr>
					<th>Iteration</th>
					<th>Committed Story Points</th>
					<th>Completed Story Points</th>
					<th>No. of Requirements moved to Next Sprint</th>
				</tr>
				<tr th:each="v :${velocityData}">
					<td th:text="${v.getSprintName()}"></td>
					<td th:text="${v.getCommittedStoryPoints()}"></td>
					<td th:text="${v.getCompletedStoryPoints()}"></td>
					<td th:text="${v.getReqMoved()}"></td>
				</tr>
				</tbody>
		</table>
	</div>
</div>
</div>