<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
<meta name="token" th:content="${atlassianConnectToken}"/>
<!--  AUI Core -->
<script src="./aui/js/jquery.min.js"></script>
<script src="./aui/js/aui.min.js"></script>
<link rel="stylesheet" href="./aui/css/aui.min.css" media="all"/>
<script src="./js/errorHandling.js?n=1"></script>
<script src="./js/rangeScript.js?n=1"></script>
<!-- AUI Experimental components -->
<link rel="stylesheet" href="./aui/css/aui-experimental.min.css" media="all"/>
<script src="./aui/js/aui-experimental.min.js"></script>
<!-- AUI Datepicker and Soy templates -->
<script src="./aui/js/aui-datepicker.min.js"></script>
<script src="./aui/js/aui-soy.min.js"></script>

<script th:src="@{${atlassianConnectAllJsUrl}}" type="text/javascript"></script>
  <style>
  #heading{
      margin-left: 30%;
      }
  h1,h2{
  text-align: center;
  }
  h1{
   margin: 1% 0 1% 0px !important; 
  color: white;
  }
  .data-left{
 
  font-size: 146%;
  }
  input{
  font-size: 17px;
  }
  body{
  background-color: white !important;
  }
  .aui-page-panel{
  background-color: #f4f5f7 !important;
  }
  body{
  margin: 1% 3% 3% 3% !important;
  }
  #complianceData{
  margin: 3% !important;
  }
  #error{
  color: red !important;
  }
  body{
	    height: 100% !important;
}
  
   #dateSubmitid{
 
 display: none;
 
 }
  </style>

</head>
    
<body style="height:735px !important;">
<span style="display:none" th:text="${jMethod}" id="method"></span>
<header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
          <div class="aui-header-inner">
            <div class="aui-header-primary">
              <h1 th:text="${project_title}"></h1>
            </div>
          </div>
        </nav>
      </header>
        <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content" style="display:block !important;">
            <h2 th:text="${section_title}"></h2>
            <br></br>
            <div class="data-left">
           <center> Mean Cycle Time is not applicable for this project category.</center>
 
		</div>
            </section>
          </div>
        </div>
        <div id = "complianceData" align="center"></div>
</body>

</html>