	<table class="aui">
  		<thead>
  		<tr>
  	 		 <th>Month</th>
   			 <th>Story</th>
 			 <th>Improvement</th>
 			 <th>New Requirement</th>
 			 <th>Change Request</th>
 			 <th>Production Issue Support</th>
 			 <th>Task</th>
  		</tr>
  		</thead>
  <tbody>
    <tr th:each="d :${data}">
        <td  th:text="${d.getMonth()}"></td>
        <td  th:text="${d.getsCount()}"></td>
        <td  th:text="${d.getiCount()}"></td>
        <td  th:text="${d.getNrCount()}"></td>
        <td  th:text="${d.getCrCount()}"></td>
        <td  th:text="${d.getPisCount()}"></td>
        <td  th:text="${d.gettCount()}"></td>
    </tr> 
  </tbody>
</table>
