<h4 align="left">Risk Exposure Rating Target &lt;= <h4 th:text="${riskTarget}" th:remove="tag"></h4> - Quarterly</h4>
			<span id="riskObj" th:text="${riskObj}" style="display:none"></span>
			
			<table class="aui">
				<thead>
					<tr>
						<th rowspan="2">Risk Items</th>
						<th rowspan="2">Critical Delivery Risks Identified</th>
						<th rowspan="2">Delivery Risks Treated to Acceptable Level</th>
						<th rowspan="2">Risk Occurrence</th>
						<th colspan="2">Delivery Risk Exposure Rating</th>

					</tr>

					<tr>
						<th>Before Risk Treatment</th>
						<th>After Risk Treatment</th>
					</tr>

				</thead>
				<tbody>	
					<tr th:each="d, stat :${res.getCriticalRiskCount()}">
						<td th:text="${d.key}"></td>
						<td th:text="${#lists.size(res.getCriticalRiskCount().get(d.key))}"></td>
			<!-- 			<div th:if="${#lists.size(res.getCriticalRiskCount().get(d.key))} == 0">
		   			<td th:text="${#lists.size(res.getCriticalRiskCount().get(d.key))}"></td>
				</div>
						
				<div th:unless="${#lists.size(res.getCriticalRiskCount().get(d.key))}== 0">	
    	<td><a href="#" th:text="${#lists.size(res.getCriticalRiskCount().get(d.key))}" th:attr="onclick=|showModal('${d.key}')|"></a></td>	
	</div> -->
					
					<td th:text="${res.getRiskAcceptablePercentage().get(d.key)}"></td>
						<td th:text="${res.getRiskOccurenceCount().get(d.key)}"></td>
						<td th:text="${res.getExposureValues().get(d.key).getAvg_risk_value()}"></td>
						<td th:text="${res.getExposureValues().get(d.key).getAvg_residual_value()}"></td>
					</tr>

				</tbody>
			</table>
			
			
			<!-- <section id="dataDialog" class="aui-dialog2 aui-dialog2-large aui-layer" role="dialog" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main" id="heading"></h2>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
            <h4 id="count" align="center"></h4>
             <table class="aui" id="tableData"></table>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-actions">
                    <button id="dialog-submit-button" class="aui-button aui-button-primary">Close</button>
                </div>
            </footer>
        </section> -->
			
			
			<script>
			
			function buildRiskModelData(keyData){
				var content = "<thead><tr><th>Issue Key</th><th>Risk Description</th><th>Risk Probability(RP)</th><th>Business Impact(BI)</th><th>Risk Value</th><th>Business Impact Description</th><th>Risk Treatment Option</th><th>Risk Action Plan</th></tr></thead><tbody>";
				$.each( keyData, function(key, value) {
					content += '<tr><td>' + value.issueKey  + '</td><td>'+ value.riskDescription + '</td><td>' + value.riskProbability + '</td><td>' + value.businessImpact + '</td><td>' + value.riskValue + '</td><td>' + value.businessImpactDes + '</td><td>' + value.riskTreatmentOp + '</td><td>' + value.riskAction + '</td></tr>';
					});
				content += "</tbody>";
				return content;
			}
			
			
			function showModal(key){
			
				var jsonData = $("#riskObj").html();
				var tmpData = JSON.parse(jsonData);
				var keyData = tmpData[key];
				console.log(key);
				console.log(keyData);
				$("#count").html("Count -" + keyData.length);
		    	$("#heading").html("Critical Delivery Risks Identified: " +key);
		    	var content = buildRiskModelData(keyData);
				$("#dataDialog #tableData").html("");
				$("#dataDialog #tableData").append(content); 
				AJS.dialog2("#dataDialog").show();
				
			}
			
			AJS.$("#dataDialog #dialog-submit-button").click(function () {
			    console.log("you called me");
			    AJS.dialog2("#dataDialog").hide();
			});
			
			</script>