<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"></link>
<link href="./css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
<link href="./css/style.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="token" th:content="${atlassianConnectToken}"/>
<script> 
    function setUrl(){
    	var domain = document.getElementById("domain").innerHTML;
    	var key = document.getElementById("key").innerHTML;
    	var bid = document.getElementById("bid").innerHTML;
    	console.log(key);
    	console.log(bid); 
    	data1 = {projectKey: key,rapidView: bid, view:"reporting", chart:"velocityChart"};
    	/* a.href =domain +"/secure/RapidBoard.jspa?" + $.param(data1); */
    	window.open(domain +"/secure/RapidBoard.jspa?" + $.param(data1),"_blank","width=1000,height=500, scrollbars=1");
    }
    </script>
<style>
p{
	font-family: "Segoe UI"; 
	margin:2%  10% 0% 10% !important;
}
</style>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">7V7HDZ5JRX2H-659952857-85208</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">bfeed4ef-8459-448c-b7da-8fb8bca80a4f</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://senecaglobal.sharepoint.com/sites/FileServer/_layouts/15/DocIdRedir.aspx?ID=7V7HDZ5JRX2H-659952857-85208, 7V7HDZ5JRX2H-659952857-85208</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body>
<h4>Velocity Chart</h4>
<span th:id="key" th:text="${key}" style="display:none"></span>
<span th:id="bid" th:text="${bid}" style="display:none"></span>
<span th:id="domain" th:text="${domain}" style="display:none"></span>
<div th:if="${btype == 'scrum'}">
	<center><p>The <i>Velocity Chart</i> shows the amount of value delivered in each sprint. It compares the number of Story Points that were <b><i>Committed</i></b> at the beginning of the sprint vs. the ones that were <b><i>Completed</i></b> at the end of the sprint.  This is useful during future sprint planning meetings, to help decide how much work one can feasibly commit.</p>
		<button style="margin-top:25px;" class="aui-button aui-button-primary" onclick="setUrl()">Display Velocity Chart</button></center>
		<span th:id="project"></span>
</div>
<div th:unless="${btype == 'scrum'}">
		<p> Velocity Chart is not applicable for this project</p>
</div>
</body>
</html>